<%- include('partials/header', { title: 'Головна' }) %>
  <%- include('partials/navbar') %>

    <h1>Ласкаво просимо до книгарні</h1>
    <p>Вітаємо вас у нашому онлайн-каталозі книг!</p>
    <p>Тут ви можете переглянути нашу колекцію української літератури.</p>

    <a href="/books">Переглянути каталог книг</a>

    <%- include('partials/footer') %>